@media (max-width: 84em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 84em) {
  html {
    font-size: 50%;
  }

  .about {
    padding: 10em 20em;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 45%;
  }
  .about {
    padding: 10em 10em;
  }
}

@media (max-width: 62.5em) {
  html {
    font-size: 40%;
  }

  .about-text,
  .img-text {
    max-width: 80% !important;
    margin: 0 auto;
    line-height: 1;
  }

  .img-text {
    margin-bottom: 3rem;
  }
  .barbie {
    position: absolute !important;
    opacity: 0 !important;
  }
  .cta {
    padding-top: 10rem;
  }

  .links,
  .top-box {
    flex-direction: column;
  }

  .link,
  .next-text-box {
    text-align: center !important;
  }
  .links {
    position: relative !important;
    transform: translate(0) !important;
  }
  .about-card {
    grid-template-columns: 1fr !important;
    padding: 0rem !important;
  }
  .img-box {
    order: 1;
  }

  .img-box {
    min-height: 60em !important;
  }
}
@media (max-width: 50em) {
  html {
    font-size: 37.5%;
  }
  .gallery-tabs {
    max-width: 80rem;
    padding: 0.8rem;
  }
  .gallery-tab {
    padding: 1.5rem 2rem;
  }
  .gallery-tab img {
    width: 10rem;
    height: auto;
    max-height: 10rem;
  }
  .gallery-tab .tab-year {
    font-size: 2rem;
  }
  .float-left {
    transform: translate(-40%, -20%) !important;
  }
  .float-left-right {
    transform: translate(40%, -25%) !important;
  }
  .carsouel {
    gap: 0em;
    grid-template-columns: 1fr 1fr !important;
  }
  .carousel-img-box:last-of-type,
  .carasouel-img-box:last-of-type {
    grid-column: 1 / -1;
    width: 50%;
    margin: 0 auto;
  }

  .winners {
    grid-template-columns: 1fr 1fr !important;
    align-items: center;
  }
  .poster {
    opacity: 1 !important;
  }
  .poster-box {
    width: 100%;
  }

  .winners .text {
    position: relative !important;
    bottom: 0;
    left: 0 !important;
    opacity: 1 !important;
    text-align: center;

    transform: translate(0%, 0%) !important;
    transition: all 500ms ease;
    font-size: 3rem;
    width: 100%;
  }

  .winner {
    font-size: 3rem !important;
    padding: 4rem !important;
  }
  .award {
    font-size: 4rem !important;
  }
  .carsouel-img-box,
  .poster-box {
    width: 75% !important;
  }
  .cta-card {
    padding: 10rem !important;
  }
  .cta-grid {
    text-align: center !important;
    grid-template-columns: 1fr !important;
  }
  .cta-text {
    padding: 0rem !important;
  }
  .cta-image img {
    margin-left: 0rem !important;
  }
  .cta-text .subheading {
    margin-top: 2rem;
    margin-bottom: 0rem !important;
  }
  .cta-image {
    padding: 10rem !important;
  }
}
@media (max-width: 40em) {
  html {
    font-size: 30%;
  }
  .gallery-tabs {
    flex-direction: column;
    gap: 0;
    width: 90%;
    max-width: 50rem;
    padding: 0.8rem;
  }
  .gallery-tab {
    padding: 1.5rem 2rem;
  }
  .gallery-tab img {
    width: 8rem;
    height: auto;
    max-height: 8rem;
  }
  .gallery-tab .tab-year {
    font-size: 1.8rem;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 20em) {
  html {
    font-size: 16%;
  }
}
@media (max-width: 15em) {
  html {
    font-size: 9%;
  }
  .body-text {
    font-size: 3rem !important;
  }
  .about-card {
    gap: 2rem;
  }
}
@media (max-width: 10em) {
  html {
    font-size: 7%;
  }
  .body-text {
    font-size: 3rem !important;
  }
  .about-card {
    gap: 0rem;
  }
  .about-text:last-of-type() {
    margin-top: 20rem !important;
  }
}
@media (max-width: 7em) {
  html {
    font-size: 5%;
  }
}
.no-flexbox-gap .img-box {
  margin-bottom: 3rem;
}

.no-flexbox-gap .about-text {
  margin-bottom: 3rem;
}
