.go-to-top {
  position: fixed;
  bottom: 0;
  right: 0;

  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 100%);
  z-index: 4;
  background-color: #333;
  color: #eee;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 150ms ease;
}
.go-to-top:hover {
  color: #ccc;
  transition: all 150ms ease;
  background-color: #444;
}

.hero {
  height: 100vh;
  margin: 0 auto;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.milf-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0rem;
  width: 120rem;
  max-height: 80vh;
  position: relative;
}
.milf-box span {
  color: var(--shadow);
}
.primary-header {
  font-size: 30rem;
  text-align: center;
  line-height: 75%;
}

.top-box {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  padding: 1rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 100%;
}

.milf-text {
  font-size: 3rem;

  font-weight: 800;
}
.main-nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}
.links {
  font-size: 3.6rem;
  color: var(--text);
  text-align: right;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.map-card {
  padding-bottom: 7rem;
  padding-top: 0rem;
}
.map-header {
  font-size: 4rem;

  padding-bottom: 1.6rem;
}
.map-subheader {
  font-size: 2rem;
  padding-bottom: 2.4rem;
}
.link a {
  scale: 1;

  transition: all 300ms ease-in;
  align-self: center;
}
.ticket-button {
  margin: 3rem;
}
.buynow {
  padding: 2rem;
}
.link a:hover {
  transition: all 150ms ease-in;
  cursor: pointer;
  color: var(--primary);
}
.next-text-box {
  text-align: right;
  font-size: 2rem;
}

.next-text-box p {
  color: var(--primary);
  font-size: 3rem;
}

.socials {
  display: flex;

  align-items: center;
  gap: 3rem;
  justify-items: center;
}
.social {
  fill: var(--text);
  stroke: var(--text);
  width: 6.4rem;
  scale: 1;
  cursor: pointer;
  transition: all 150ms ease-in;
}
.tps-logo {
  background-color: var(--text);
  border-radius: 50%;
}
.tps-logo:hover {
  background-color: var(--primary);
}
.social:hover {
  scale: 1.1;
  fill: var(--primary);
  color: var(--primary);
  stroke: var(--primary);
  transition: all 150ms ease-in;
}
.logo {
  width: 75px;
  height: 75px;
}
.milf-logo {
  width: 50rem;
  background: transparent;
}
.logo-box {
  margin: 3rem;
  /*
	padding: 10rem;
	background-image: radial-gradient(
		circle at 50%,
		rgb(43, 30, 50) 25%,

		rgb(43, 38, 45) 50%,
		rgb(60, 46, 76) 60%,
		transparent 60%
	);  */
}

/* BACKGROUND */
/* 
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
}

.stars {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png)
    repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
  background-size: 1000px 1000px;
  -moz-animation: move-background 100s linear infinite;
  -ms-animation: move-background 100s linear infinite;
  -o-animation: move-background 100s linear infinite;
  -webkit-animation: move-background 100s linear infinite;
  animation: move-background 100s linear infinite;
}

.twinkling {
  width: 10000px;
  height: 100%;

  background: transparent
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
} */

/* ! ABOUT */
.sponsor-box {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  height: 100%;

  width: 100%;
}
.sponsor-box h3 {
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
}
.sponsors {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}
.sponsor-div {
  width: 8rem;
  margin: 4rem;
}
.sponsors img {
  width: 100%;
  height: 100%;
  filter: brightness(0);
  opacity: 50%;
  object-fit: contain;
}

.about {
  padding: 10rem 5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;

  background-color: var(--dark-background);
  color: var(--background);
}

.about-card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  color: var(--text-shade);
  padding-bottom: 18rem;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}
.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.about-img {
  width: 75%;
  border-radius: 5px;
  margin-bottom: 1.4rem;
  box-shadow: 0 0 5px var(--shadow);
}

.card-header {
  font-size: 3.8rem;
  padding: 0 0 2.4rem 0;
  text-align: left;
}

.body-text {
  font-size: 2.4em;
}
.body-text {
  text-align: left;
}
.img-text {
  font-size: 2rem;
}
.img-text span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

.float-left {
  position: absolute;
  width: 50%;
  transform: translate(-50%, -10%);
}
.float-right {
  position: absolute;
  z-index: 2;
  width: 50%;
  transform: translate(0%, 50%);
}
.float-left-right {
  position: absolute;
  width: 50%;
  transform: translate(30%, -25%);
}

/* !GALLERY */

.gallery-wrapper {
  padding-top: 10rem;
  padding-bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff4fe;
  transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-wrapper[data-active-year="2025"] {
  background-color: #e8f5e9;
}

.gallery-wrapper[data-active-year="2024"] {
  background-color: #fff4fe;
}

.gallery-wrapper[data-active-year="2023"] {
  background-color: #222;
}

.gallery-tabs {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 6rem;
  z-index: 10;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.gallery-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 3rem;
  flex: 1;
  background-color: transparent;
  color: #999;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 600;
}

.gallery-tab img {
  width: 16rem;
  height: auto;
  max-height: 16rem;
  object-fit: contain;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: grayscale(100%) brightness(1.2);
  opacity: 0.6;
}

.gallery-tab .tab-year {
  font-size: 2.4rem;
  font-weight: 700;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #999;
}

.gallery-tab:hover {
  background-color: #f9f9f9;
}

.gallery-tab:hover img {
  filter: grayscale(50%) brightness(1.1);
  opacity: 0.8;
}

.gallery-tab:hover .tab-year {
  color: #666;
}

.gallery-tab.active {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.gallery-tab.active img {
  filter: grayscale(0%) brightness(1);
  opacity: 1;
}

.gallery-tab[data-year="2025"].active {
  background-color: #e8f5e9;
}

.gallery-tab[data-year="2025"].active .tab-year {
  color: #336c37;
}

.gallery-tab[data-year="2024"].active {
  background-color: #fff4fe;
}

.gallery-tab[data-year="2024"].active .tab-year {
  color: #f29ad8;
}

.gallery-tab[data-year="2023"].active {
  background-color: #333;
}

.gallery-tab[data-year="2023"].active .tab-year {
  color: #b6a9ef;
}

.gallery-content {
  display: none;
  width: 100%;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gallery-content.active {
  display: flex;
  animation: fadeInScale 800ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.gallery-content.gallery--2024 {
  color: var(--secondary);
  padding: 8rem 2rem 10rem;
}

.gallery-content.gallery--2025 {
  color: var(--primary);
  padding: 8rem 2rem 10rem;
}

.gallery-content.gallery--2023 {
  color: var(--background);
  padding: 8rem 2rem 10rem;
}

.gallery-content h2 {
  margin-bottom: 6rem;
  text-align: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.gallery-content.active .img-container {
  animation: fadeInUp 800ms cubic-bezier(0.4, 0, 0.2, 1) 100ms both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gallery-content .container {
  width: 100%;
  max-width: 120rem;
}
.carsouel {
  gap: 2rem;
  max-width: 100rem;
  margin-bottom: 8rem;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
.carasouel-img-box,
.carousel-img-box {
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
}
.carsouel-img,
.carsouel-img:link,
.carousel-img,
.carousel-img:link {
  width: 100%;
  scale: 1;

  box-shadow: 0 0 30px var(--shadow);
  border-radius: 5px;

  transition: all 1s ease;
}
.carsouel-img:hover,
.carsouel-img:active,
.carousel-img:hover,
.carousel-img:active {
  scale: 1.2;
  transition: all 300ms ease;
}

.winners {
  gap: 2rem;
  padding: 0 5rem 5rem;
  position: relative;
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  align-content: center;
}
.winners--2023 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.winners--2024 {
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr 1fr 1.3fr 1.3fr;
}
.poster {
  box-shadow: 0 0 30px var(--shadow);
  border-radius: 8px;

  scale: 1;
  transition: all 300ms ease;
  cursor: pointer;
  opacity: 0.5;
}
.poster-box {
  display: flex;
  max-height: 50rem;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
}

.winners .text {
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  text-align: center;

  transform: translate(-50%, 100%);
  transition: all 500ms ease;
  font-size: 2.8rem;
  width: 100%;
}
.winners .winner {
  font-size: 2.4rem;
  color: var(--primary);
}
.winners--2024 .award {
  color: var(--primary);
}
.winners--2024 .winner {
  color: var(--texts);
}
.award {
  color: var(--background);
}
.poster-box:hover + .text,
.poster-box:focus + .text {
  opacity: 1;
  transition: all 500ms ease;
}

.poster:hover,
.poster:active {
  scale: 1.1;
  opacity: 1;
  transform: translate(0%, -5%);
  transition: all 300ms ease;
}
.gallery-header {
  font-size: 4.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.gallery-content.gallery--2025 .gallery-header {
  color: var(--primary);
}

.gallery-content.gallery--2024 .gallery-header {
  color: var(--secondary);
}

.gallery-content.gallery--2023 .gallery-header {
  color: var(--primary2023);
}
.wave-container {
  height: 10rem;
}
.barbie {
  position: relative;
  width: 100%;
  background-color: #fff4fe;
  display: flex;
  align-items: bottom;
  transition: background-color 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.barbie[data-active-year="2025"] {
  background-color: #e8f5e9;
}

.barbie[data-active-year="2024"] {
  background-color: #fff4fe;
}

.barbie[data-active-year="2023"] {
  background-color: #222;
}
.barbie-waves {
  width: 100%;
  transform: translateY(0%);
  fill: var(--text);
  background-color: #222;
}
.brat-waves {
  width: 100%;
  transform: translateY(10%);
  fill: var(--dark-background);
  transition: fill 800ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cta {
  padding-inline: 10rem;
  padding-block: 20rem;

  background-color: var(--dark-background);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.cta-header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}
.cta-header-box btn {
  color: #c2eb70;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px #c2eb708d;
  transition: all 150ms ease-out;
}
.cta-header-box btn:hover {
  color: black;
  background-color: #c2eb70;
  box-shadow: 0 0 30px #c2eb70;
  transition: all 150ms ease-in;
}

.cta-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;
  color: #333;

  background-color: #c2eb70;

  background-size: cover;

  position: relative;
  box-shadow: 0 0 10px var(--shadow);
}
.cta-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  align-items: center;
}
.cta-header {
  text-align: left;
  color: #111;

  font-size: 4.8rem;
}
.header-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 15rem;
  padding-bottom: 3rem;
  top: 0;
}
.header-img img {
  width: 10rem;
  transform: translate(0%, -50%) rotate(25deg);

  position: absolute;
}

.cta-text {
  font-size: 3.2rem;
  padding: 5rem;
}

.cta-text .subheading {
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: #222;
  text-align: left;
}
.cta-image img {
  width: 75%;
  justify-self: center;
  align-self: center;
  margin-left: 1rem;
}
.cta-image {
  width: 100%;
  margin-top: 1rem;

  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta-logo-text {
  font-size: 10rem;
  color: black;
  padding: 3rem;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cta-btn {
  border-radius: 20px;

  text-align: center;
}
.cta-btn .btn {
  border-radius: 20px;
  width: 100%;

  text-align: center;
}
.buttons {
  justify-content: space-between;
}
.btn--barbie {
  color: #eee;
  padding: 2rem 4rem 2rem 4rem;
  box-shadow: 0px 0px 15px var(--shadow);
  scale: 1;
  background-color: var(--primary);
  transition: all 300ms ease;
}

.btn--barbie:hover {
  color: hsl(315, 88%, 56%);
  box-shadow: 0px 0px 10px var(--shadow);
  scale: 1.3;
  transition: all 300ms ease;
  background-color: #ff6cf8;
}

label {
  display: block;
  margin: 1em 0 0.2em;
}
/* single-line text, checkbox, and button */
input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.3em;
  font-size: 2rem;
  background-color: var(--background);
  border: solid 1px #ccc;
  resize: vertical;
}
textarea {
  min-height: 180px;
}
select {
  color: indigo;
}
option {
  color: blue;
  background: lavenderBlush;
}
input[type="checkbox"] {
  display: inline;
  width: auto;
  color: red;
}

input[type="submit"] {
  background: var(--dark-background);
  margin: 1em 0 0;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  background: lavenderBlush;
}

/* hover and focus states */
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: lightgreen;
  outline: none;
}

@media screen and (min-width: 600px) {
  /*  make the form 2 columns */
  form:after {
    content: "";
    display: block;
    clear: both;
  }
  .column {
    width: 50%;
    padding: 1em;
    float: left;
  }
}
.form-container {
  background: var(--text);
  padding: 3rem;
  color: var(--text-shade);
  border-radius: 20px;
  font-size: 2rem;
}
.highlight-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.highlights {
  padding: 10rem 5rem;
  margin: 0 auto;
  justify-content: center;
  position: relative;

  background-color: var(--dark-background);
  color: var(--background);
}
.highlight {
  background: var(--background);
  height: 100%;
  border-radius: 2rem;
  display: grid;

  gap: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
.highlight-img-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  overflow: hidden;
}
.highlight-img-box img {
  object-fit: cover;
  height: 100%;
}
.highlight p {
  color: var(--text);
  font-size: 1.6rem;
  text-align: left;
  height: 100%;
}
.highlight p span {
  color: var(--dark-background);
}
.highlight-year {
  color: var(--primary);
  font-size: 1.6rem;
  text-align: left;
}
input {
  font-family: inherit;
}
